body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2% 7%;
  margin: 0;
  color: white;
  text-align: center;
}
html {
  max-width: 1024px;
}
.logo {
  width: 15%;
  display: block;
}
h1 {
  font-family: outfit;
  font-size: 3rem;
  font-weight: large;
  margin-top: 15%;
  margin-bottom: 2%;
}
input:placeholder-shown {
  background-color: transparent;
  border: none;
}
input {
  border: none;
}

hr {
  border-color: #b51289;
}
p {
  font-size: 1.7rem;
  font-family: outfit;
  margin-top: 0;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
.commenti {
  text-align: left;
  margin-left: 2%;
  font-size: 15px;
  margin-top: 5%;
}
