body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 10%;
  margin: 0;
  color: white;
}
.logo {
  width: 20%;
  display: block;
}
h1 {
  font-family: outfit;
  font-size: 5rem;
  font-weight: large;
}
