body{
    font-family: inter;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin:0;
    padding: 3% 7%;
    
    
}

img{
    width: 15%;
}

form{
    display: inline;
    padding-left: 75%;
}

.countdown{
    display: inline-block;
    width: 11%;
    border: 20px solid #00FFFF;
    border-radius: 100%;
    text-align: center;
}

#contatore{
    font-size: 40px;
}

main{
    text-align: center;
    margin-top: 5rem;
}

h1{
    font-weight: 300;
    font-family: inter;
    font-size: 4rem;
    margin-bottom: 4%
}




.answer{
    border-radius: 25px;
    width: 30%;
    padding: 15px;
    margin: 1% 2%;
    background-color: blue;
    opacity: 0.4;
    border: 1px solid white;
    box-shadow: white -2px -2px 0px;
    color:white;
}

