input[type="radio"] {
    display:none;   
}

body{
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin:0;
    height: 100%;
    text-align: center;
    font-family: Inter;
}

header {
    text-align: left;

}
img{
    width: 200px;
    position: relative;
    margin: 90px 0px 100px 100px;
}

form{
    display: inline;
    margin-left: 60%;
}

.countdown{
    display: inline-block;
    width: 130px;
    height: 130px;
    border:13px solid #00FFFF;
    border-radius: 100%;
    text-align: center;
    box-shadow: 10px 10px 80px #242424af;
    background-color: rgba(0, 0, 0, 0.248);
}

#contatore{
    font-size: 3rem;
    margin: 0px 10px 0px 10px;
}

main{
    margin: auto;
    margin-top: 20px;
    max-width: 1110px;
    position: relative;
}

h1{
    font-weight: 300;
    font-family: inter;
    font-size: 4rem;
    margin-bottom: 100px;
    margin-bottom: 80px;
}

#test {
    border-radius: 50px;
    background-color: rgba(100, 100, 100, 0.335);
    width: 200px;
    padding: 25px 100px 25px 100px;
    margin: 30px;
    white-space: nowrap;
    display: inline-block;
    box-shadow: rgba(255, 255, 255, 0.503) -2px -2px 0px;
    border: 1px solid rgba(255, 255, 255, 0.171);
}

#test:hover {
    background: rgb(130,0,96);
    background: linear-gradient(90deg, rgba(130,0,96,1) 0%, rgba(195,0,142,1) 35%, rgba(130,0,96,1) 100%);
}

footer {
    text-align: center;
}
h3 {
    margin-top: 50px;
    position: absolute;
    margin-left: 460px; 
    letter-spacing: 2px;
    font-family: Outfit;
    font-weight: 400;
}

b {
    color:rgb(162, 18, 131) ;
}

#pepe {
    margin: 0;
    background-repeat:repeat;
}

.countdown p {
    margin: 0px 10px 0px 10px;
    font-family: outfit;
    font-size: 0.6rem;
    font-weight: 100;
}

.countdown :first-child {
    font-size: 0.8rem;
    margin-top: 20px;
}
