body{
    font-family: Inter;
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin:0;
    padding: 2% 7%;
}

img{
    width: 15%;
}

h1, h4{
    font-family: Outfit;
}

h1{
    font-weight: 300;
    font-size: 5rem;
    margin-bottom: 3%;
    line-height: 70px;
}

h4{
    font-size: 1.5rem;
    color: purple;
    margin: 0;
}

p{
    margin-top:0.5rem
}

ul{
    margin-top: 1.5em;
    padding-left: 30px;
}

footer{
    padding-top: 2.5%;

}

footer p, #cb, #procedi{
    display: inline-block;
}


#cb{
    opacity: 0;
}

footer p{
    margin-left: 1%;
}

footer div{
    display: inline-block;
    border: 2px solid white;

}

#procedi {
    background-color: #00ffff;
    border: none;
    font-weight: bold;
    padding: 25px 60px;
    font-size: 130%;
    margin-left: 25%;
}
footer img{
    width:1%
}

.manImg:hover {
    border: 3px;
    border-color: #fff;
}

