body {
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2% 7%;
  margin: 0;
  color: white;
  text-align: center;
}

.logo {
  width: 15%;
  display: block;
}
h1 {
  font-family: outfit;
  font-size: 3rem;
  font-weight: large;
  margin-top: 15%;
  margin-bottom: 2%;
}
input:placeholder-shown {
  background-color: transparent;
  border: none;
}
#feedback {
  border: none;
  width: 100%;
  font-size: 110%;
}

hr {
  border-color: #b51289;
}
p {
  font-size: 1.7rem;
  font-family: outfit;
  margin-top: 0;
  margin-bottom: 0;
}
main {
  margin-left: 10%;
  margin-right: 10%;
}
.commenti {
  text-align: left;
  margin-left: 2%;
  font-size: 15px;
  margin-top: 5%;
  margin-right: 2%;
}
#procedi {
  font-family: outfit;
  background-color: #00ffff;
  border: none;
  font-weight: bold;
  padding: 2% 6%;
  font-size: 130%;
}

footer {
  margin-top: 8%;
}

#w__stars img {
  margin-right: 1%;
}

#w__stars {
  margin-bottom: 9%;
  margin-top: 3%;
}

.img-hover {
  display: none;
  position: absolute;
}

.r__icon:hover .img-hover {
  display: inline;
}